
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(241, 233, 233);
  color: #2f1919;
}

@media screen and (min-width: 768px) {
  .booklist{
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
  }
  
}

.booklist {
  display: grid;
  gap: 2rem;
  padding: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.book {
  position: relative;
  background: #fff;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  min-height: 450px;
  
  
}

.book img {
  width: 100%;
  object-fit: cover;
  /* border-radius: 0.5rem; */
}

.book img {
  width: 100%;
  /* max-width: 250px; */
  /* height: 350px; */
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 1rem;
  display: block;
}

.book h2 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  min-height: 2.5rem; /* κρατά ίδιο χώρο για τίτλους */
  line-height: 1.2;
}

.book h4 {
  color: #617d98;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  letter-spacing: 2px;
}

.book p{
  margin: 1rem 0 0.5rem;
}

.number {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.75rem;
  font-size: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: rgb(153, 67, 127);
  color: #fff;
}
